body{
    margin: 0;
    padding: 0;
}
.degree_symbol:not(:empty)::after {
    content: "°"
}

.owm-legend-item{
    display: none;
}

#map {
    height: 300px;
    width: 300px;
}
.curent{
    grid-template-columns: .5fr .5fr .5fr 1.5fr 1fr ;
    grid-column-gap: 1vw;
    display: grid;
    background-color: ;
    height: 200px;
    width: 100vw;
    padding-left: 20px;
}
.c1{
    grid-template-rows: 1fr;
    display: grid;
    background-color: #CAE0CC;
    height: 200px;
    width: 230px; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 95px;
    font-family: titling-gothic-fb, sans-serif;
    font-style: normal;
    font-weight: 100;
}
.c2{
    grid-template-rows: 1fr 1fr 1fr;
    display: grid;
    margin-top: 2vw;
}
.cloud{
    grid-template-columns: 1fr 1fr;
    display: grid;
    height: 45px;
    background-color: #CAE0CC;
}
.cloud1{
    margin-top: 5px;
    padding-left: 10px;
    height: 35px;
}
.wind{
    grid-template-columns: 1fr 1fr;
    display: grid;
    background-color: #CAE0CC;
    height: 45px;
}
.wind2{
    margin-top: 5px;
    padding-left: 10px;
    height: 35px;
}
.wind1{
    margin-top: 15px;
    padding-left: 10px;
}
.c3{
    margin-top:2vw ;
    grid-template-columns: 1fr 2fr;
    display: grid;
    background-color: #CAE0CC;
    height: 150px;
    width: 16vw;
}
.rain{
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-family: titling-gothic-fb, sans-serif;
    font-style: normal;
    font-weight: 50;
    padding-left: 10px;
}
.c4{
    margin-top: 2vw;
    grid-template-rows: 1fr 2fr;
    grid-row-gap: 4px;
    display: grid;
    height: 6vw;
    width: 6vw;
    
}
.time{
    grid-template-rows: 1fr 2fr;
    display: grid;
    background-color: #CAE0CC;
    height: 2vw;
    width: 6vw;
    padding-left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.date{
    grid-template-rows: 1fr 2fr;
    display: grid;
    background-color: #CAE0CC;
    height: 2vw;
    width: 6vw;
    padding-left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.c5{
    grid-template-rows: 1fr 2fr;
    display: grid;
    background-color: #CAE0CC;
    height: 4vw;
    width: 200px;
}
.alerts{
    margin-top: 10px;
    background-color:  #CAE0CC;
}
.alert{
    align-items: center;
    justify-content: center;
    font-family: titling-gothic-fb, sans-serif;
    font-style: normal;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}
.forecast{
    margin-top: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100vw;
    height:300px;
    background-color: ;
    display: grid;
    grid-column-gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.day1{
    background-color: #CAE0CC;
}
.clud{
    height: 150px;
    padding-left: 75px;
}
.bottomtxt{
    grid-template-columns: 1fr 1fr;
    display: grid;
}
.cluddes{

}
.bottomtxt2{
    grid-template-columns: 1fr 1fr;
    display: grid;
}
.wnd{
    font-weight: bold;
}
.wndim{
    height: 40px;
    padding-left: 10px;
}
.tem{
    font-weight: bold;
}
.temim{
    height: 40px;
    padding-left: 10px;
}
.day2{
    background-color: #CAE0CC;
}
.day3{
    background-color: #CAE0CC;
}
.day4{
    background-color: #CAE0CC;
}
.day5{
    background-color: #CAE0CC;
}
.remainder{
    display: grid;
    margin-top: 10px;
    grid-template-columns: 1fr 1fr;
    background-color: ;
    padding-left: 20px;
    height: 170px;
    width: 45vw;
}
.radar{
    background-color: red;
    height: 250px;
    width: 300px;
}
.misc{
    padding-left: 10px;
    margin-left: 20px;
    margin-top: 0px;
    background-color: #CAE0CC;
    height: 150px;
    width: 130px;
}
.humid{

}
.dew{

}
.air{

}
img{
    max-width: 100%;
    max-height: 100%;
    width: auto;
}
body{
    background-color: rgb(59, 59, 59)
}